<% if @player_1_name && @player_2_name %>
  <div> <%=@current_player_name%> uses attack on <%=@current_opponent_name%> </div>
  <div><%=@player_1_name%>'s HP:<%=@player_1_hp%></div>
  <div><%=@player_2_name%>'s HP:<%=@player_2_hp%></div>
  <form action='/attack' method='post'>
    <input type='submit' value='Attack'>
    </form>
<% end %>
